<%= form_with(model: picture, local: true, url: choose_new_or_edit) do |form| %>
  <% if picture.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h4>
      <ul>
        <% picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card social-timeline-card">
    <h5 class="card-header">What are you gonna share?</h5>
    <div class="card-body">
      <div class="form-group">
        <div class="custom-file">
          <%= form.file_field :image, class: 'custom-file-input' %>
          <%= form.label :image, 'Choose file', class: 'custom-file-label' %>
          <%= form.hidden_field :image_cache %>
        </div>
        <p></p>
        <%= image_tag(@picture.image.url, class: 'img-fluid') if @picture.image && @picture.image.url %>
      </div>
      <div class="form-group">
        <%= form.label :comment, class: 'card-title' %>
        <%= form.text_area :comment, class: 'form-control', rows: '3', placeholder: 'What is the story?' %>
      </div>
      <div class="btn-toolbar justify-content-between">
        <div class="btn-group">
          <%= form.submit 'Post', class: 'btn btn-light' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
