<!DOCTYPE html>
<html>
  <head>
    <title>FB Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-breadcrumb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'Home', pictures_path %></li>
                <% if logged_in? %>
                  <li class="breadcrumb-item"><%= link_to 'Profile', user_path(current_user.id) %></li>
                  <li class="breadcrumb-item"><%= link_to 'Logout', session_path(current_user.id), method: :delete %></li>
                <% else %>
                  <li class="breadcrumb-item"><%= link_to 'Sign up', new_user_path %></li>
                  <li class="breadcrumb-item"><%= link_to 'Login', new_session_path %></li>
                <% end %>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>    
      <%= yield %>
    </div>
    <script>
      $(document).ready(function () {
        bsCustomFileInput.init();
      });
    </script>
  </body>
</html>
